<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>



<body>
    <h1>My Node App</h1>

    <div class="btnHome">
      <form action="/">
          <input type="submit" value="Home" />
      </form>
    </div>

    <h2 style="text-align: center;">Sign In</h2>
    <form method="post" action="/signin_verif">
      <label for="name">Email</label>
      <input type="text" name="email">
      <label for="password">Password</label>
      <input type="password" name="password">
      <input type="submit" value="Add" id="submitbtnsignin">
    </form>
</body>

</html>