<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<div class="container Accueil">
    <header class="Accueil-Header">
        <h1>NODE PROJECT</h1>
    </header>
    <div class="btnHome">
        <form action="/">
            <input type="submit" value="Home" />
        </form>
    </div>

    <h2 style="text-align: center;">SIGN UP PAGE</h2>

    <form method="post" action="/item/add">
        <label for="name">Last Name</label>
        <input type="text" name="lastname">
        <label for="name">First Name</label>
        <input type="text" name="firstname">
        <label for="password">Password</label>
        <input type="password" name="password">
        <label for="name">Email</label>
        <input type="text" name="email">
        <input type="submit" value="Sign up" id="submitbtnsignup">
    </form>

</div>

</body>

</html>