<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<div class="container Accueil">
    <header class="Accueil-Header">
        <h1>NODE PROJECT</h1>
    </header>

    <p>SIGN IN PAGE</p>

    <form id="form">
        <div class="form-group">
            <label for="pseudo">Pseudo</label>
            <input name="pseudo" type="pseudo" class="form-control" id="pseudo" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password" />
        </div>
        <div id="alert" class="alert alert-danger" style="display: none;" role="alert"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/signUp" style="float: right;" class="card-link">Signup</a>
    </form>

</div>

</body>

</html>